:root {
    --jet: #353535;
    --jet-rgb: 35, 35, 35;

    --nyanza: #d6f6dd;
    --lavender-blue: #dac4f7;
    --lavender-blue-rgb: 218, 196, 247;
    --salmon-pink: #f4989c;
    --bisque: #ebd2b4;
    --blizzard-blue: #acecf7;
    --blizzard-blue-rgb: 172, 236, 247;
    --dark-blizzard-blue: #8fbae3;
    --dark-blizzard-blue-rgb: 143, 186, 227;

    --danger: #ff2e3f;
    --danger-rgb: 255, 46, 63;
    --danger-dark: #b42732;
    --success: #00ff7f;
    --success-rgb: 0, 255, 127;
}

ul {
    list-style-type: none;
}

a {
    all: unset;
    cursor: pointer;
}

button {
    cursor: pointer;
}

.no-select {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

